@font-face {
  font-family: "capriola";
  src: url("../fonts/Capriola-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "capriola";
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

p,
i,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1C4A7E;
}

a {
  color: #A51111;
  text-decoration: none;
}

a:hover {
  color: #1C4A7E !important;
}

li {
  list-style: none;
}

.container {
  margin: 10px;
  width: 1440px;
  height: 778px;
}
.container nav .atu-logo img {
  border: none;
  height: 4rem;
  width: 10rem;
  margin: 10px;
}
.container nav .nav-links {
  position: relative;
  left: 68rem;
  top: 0.3rem;
}
.container nav .nav-links a {
  margin-right: 24px;
}
.container nav .nav-links a:hover {
  color: #1C4A7E;
  cursor: pointer;
}
.container nav .mobile-nav-links {
  display: none;
}
.container nav .mobile-menu, .container nav .mobile-menu-close {
  font-size: 0rem;
}
.container .main-content {
  background: none;
  border: none;
  width: fit-content;
  margin-top: -211px;
}
.container .main-content .card-title {
  color: white;
}
.container .main-content .welcome-card {
  background-color: #1C4A7E;
  color: white !important;
  padding: 1rem;
  border-radius: 15px;
  width: 1011px;
  height: 510px;
  margin-left: 298px;
  margin-top: -335px;
  z-index: -1;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.container .main-content .welcome-text {
  background: none;
  border: none;
  margin-left: 154px;
}
.container .main-content .welcome-text p {
  color: white;
}
.container .main-content .blob {
  background: none;
  border: none;
  position: relative;
  left: -185px;
  top: 345px;
}
.container .main-content .blob .blob-object {
  position: relative;
  width: 635px;
  top: 3rem;
  height: 518px;
}
.container .main-content .blob .mobile-blob-object {
  display: none;
}
.container .main-content .blob .blob-person {
  position: absolute;
  top: -186px;
  left: 47px;
}
.container .btn-survey {
  background-color: #E9E00A;
  position: relative;
  top: 60px;
  left: 760px;
  border: none;
  color: #1C4A7E;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container .btn-survey:hover {
  background-color: #1C4A7E;
  transition: 0.2s;
  border-radius: 8px;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 425px) {
  .blob {
    position: absolute;
    left: -37% !important;
    top: -37% !important;
  }
}
@media screen and (max-width: 520px) {
  .container {
    width: 100%;
    height: auto;
    padding: 0 0.2rem;
    margin: 0;
    overflow: hidden;
  }
  .container .atu-logo img {
    width: 10rem;
    margin-bottom: 9rem;
  }
  .container .mobile-nav-links {
    width: auto;
    height: auto;
    flex-direction: column;
    position: absolute;
    background-color: #1C4A7E;
    padding: 0.2rem 5rem 4rem 1rem;
    line-height: 2rem;
    top: 11%;
    right: 3%;
    z-index: 2;
  }
  .container .mobile-nav-links a {
    color: #E4E4E3;
  }
  .container .mobile-menu, .container .mobile-menu-close {
    font-size: 2rem !important;
    cursor: pointer;
  }
  .container .main-content {
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }
  .container .main-content .welcome-card {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .container .main-content .welcome-card .card-body {
    padding-top: 2rem;
  }
  .container .main-content .welcome-card .card-body h2 {
    width: auto;
    font-size: 1rem;
    margin-bottom: 3rem;
  }
  .container .main-content .welcome-card .card-body .welcome-text {
    font-size: small;
    margin-left: 9px;
  }
  .container .main-content .blob {
    position: absolute;
    left: -31%;
    top: -42%;
  }
  .container .main-content .blob :first-child,
.container .main-content .blob :last-child {
    display: none;
  }
  .container .main-content .blob .mobile-blob-object {
    display: block;
  }
  .container #btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  .container #btn .btn-survey {
    top: 0;
    left: 0;
    margin-bottom: 2.5rem;
  }
}