//======Admin dropdown hover++++++++
//notification bell hover dropdown
@media all and (min-width: 992px) {
    .notify .dropdown-menu {
        display: none;
    }
    .notify:hover .dropdown-menu {
        display: block;
    }
    .notify .dropdown-menu {
        margin-top: 0;
    }
}

//profile-icon hover dropdown
@media all and (min-width: 992px) {
    .dropdown-right .dropdown-menu {
        display: none;
    }
    .dropdown-right:hover .dropdown-menu {
        display: block;
    }
    .dropdown-right .dropdown-menu {
        margin-top: 0;
    }
}

//navbar hover dropdown on nav-links
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    // .navbar .nav-item:hover .nav-link {}
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

//=======Alumni - Hover on Filter By+++++++++
//Filter-By hover dropdown
@media all and (min-width: 992px) {
    .filter-by .dropdown-menu {
        display: none;
    }
    // .navbar .nav-item:hover .nav-link {}
    .filter-by:hover .dropdown-menu {
        display: block;
    }
    .filter-by .dropdown-menu {
        margin-top: 0;
    }
}