//===========Landing Page++++++//
// Media Queries
@media screen and (max-width: 425px) {
    .blob {
        // display: none;
        position: absolute;
        left: -37% !important;
        top: -37% !important;
    }
}

@media screen and (max-width: 520px) {
    .container {
        width: 100%;
        height: auto;
        padding: 0 .2rem;
        margin: 0;
        overflow: hidden;
        .atu-logo img {
            width: 10rem;
            margin-bottom: 9rem;
        }
        .mobile-nav-links{
            width: auto;
            height: auto; 
            // display: flex !important;
            flex-direction: column;
            position: absolute;
            background-color: $dark-blue1; 
            padding: 0.2rem 5rem 4rem 1rem;
            line-height: 2rem;
            top: 11%;
            right: 3%;
            z-index: 2;

            

                a{
                    color: #E4E4E3;          
                }
        }

        .mobile-menu, .mobile-menu-close{
            font-size: 2rem !important;
            cursor: pointer;
        }
        .main-content {
            width: 100%;
            margin: 0;
            margin-top: 2rem;

            .welcome-card {
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                .card-body {
                    padding-top: 2rem;
                    h2 {
                        width: auto;
                        // padding: 0 0rem 0 3rem;
                        font-size: 1rem;
                        margin-bottom: 3rem;
                    }
                    .welcome-text {
                        font-size: small;
                        // margin-left: 0;
                        margin-left: 9px;
                    }
                }
            }
            .blob {
                position: absolute;
                left: -31%;
                top: -42%;
                 :first-child,
                 :last-child {
                    display: none;
                }
                .mobile-blob-object {
                    display: block;
                }
            }
        }
        #btn {
            // border: 1px solid black;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 2rem;
            .btn-survey {
                top: 0;
                left: 0;
                margin-bottom: 2.5rem;
            }
        }
    }
}