// @import url('./global');
@font-face {
    font-family: 'capriola';
    src: url('../fonts/Capriola-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'capriola';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

// Landing Page 
// Card 
.container {
    margin: 10px;
    width: 1440px;
    height: 778px;
    .atu-logo img {
        border: none;
        height: 4rem;
        width: 10rem;
        margin: 10px;
    }
    .main-content {
        background: none;
        border: none;
        width: fit-content;
        margin-top: -211px;
        .welcome-card {
            background-color: #1C4A7E;
            color: white;
            padding: 1rem;
            border-radius: 15px;
            width: 1011px;
            height: 510px;
            margin-left: 298px;
            margin-top: -335px;
            z-index: -1;
        }
        .welcome-text {
            background: none;
            border: none;
            margin-left: 154px;
        }
        .blob {
            background: none;
            border: none;
            position: relative;
            left: -185px;
            top: 345px;
            .blob-object {
                position: relative;
                width: 635px;
                top: 3rem;
                height: 518px;
            }
            .mobile-blob-object {
                display: none;
            }
            .blob-person {
                position: absolute;
                top: -186px;
                left: 47px;
            }
        }
    }
    .btn-survey {
        background-color: #E9E00A;
        position: relative;
        top: 60px;
        left: 760px;
        border: none;
        color: #1C4A7E;
        border-radius: 8px;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .btn-survey:hover {
        background-color: #1C4A7E;
        transition: .2s;
        border-radius: 8px;
        color: white;
        padding: 1rem;
        font-size: 1.5rem;
    }
}

// Media Queries
@media screen and (max-width: 425px){
    
    .blob{
        // display: none;
        position: absolute;
        left: -37% !important;
        top: -37% !important;
    }
}

@media screen and (max-width: 520px) {
    .container {
        width: 97%;
        height: auto;
        padding: 0;
        margin: 0;
        overflow: hidden;
        .atu-logo img {
            width: 10rem;
            margin-bottom: 9rem;
        }
        .main-content {
            width: 100%;
            margin: 0;
            .welcome-card {
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;

                .card-body{
                    padding-top: 2rem;


                    
                    h2{
                        width: auto;
                        padding: 0 0rem 0 3rem;
                        font-size: 1rem;
                        margin-bottom: 3rem;
                    }
                    .welcome-text{
                        font-size: small;
                        // margin-left: 0;
                        margin-left: 9px;
                    
                    }
                }
            }
            .blob {
                position: absolute;
                left: -31%;
                top: -42%;
                
                :first-child, :last-child {
                    display: none;
                }
                .mobile-blob-object {
                    display: block;
                }
            }
        }
        #btn{
            // border: 1px solid black;
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 2rem;

            .btn-survey {
                top: 0;
                left: 0;
                margin-bottom: 2.5rem;
            }
        }
        
    }
}