// @import url('./global');
@font-face {
    font-family: 'capriola';
    src: url('../fonts/Capriola-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'capriola';
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

// Landing Page 
// Card 
.container {
    margin: 10px;
    width: 1440px;
    height: 900px;
    .atu-logo {
        border: none;
        height: 10rem;
        width: 10rem;
        margin: 10px;
    }
    .main-content {
        background: none;
        border: none;
        width: fit-content;
        margin-top: -211px;
        .welcome-card {
            background-color: #1C4A7E;
            color: white;
            padding: 1rem;
            border-radius: 15px;
            width: 1011px;
            height: 510px;
            margin-left: 298px;
            margin-top: -438px;
            z-index: -1;
        }
        .welcome-text {
            background: none;
            border: none;
            margin-left: 154px;
        }
        .blob {
            background: none;
            border: none;
            position: relative;
            left: -185px;
            top: 345px;
            .blob-object {
                width: 600px;
                height: 581px;
            }
            .mobile-blob-object{
                display: none;
            }
            .blob-person {
                position: absolute;
                top: -190px;
                left: 47px;
            }
        }
    }
    .btn-survey {
        background-color: #E9E00A;
        position: relative;
        top: 90px;
        left: 760px;
        border: none;
        color: #1C4A7E;
        border-radius: 8px;
        font-size: 1.5rem;
        padding: 1rem;
    }
    .btn-survey:hover {
        background-color: #1C4A7E;
        transition: .2s;
        border-radius: 8px;
        color: white;
        padding: 1rem;
        font-size: 1.5rem;
    }
}
// Media Queries
@media all and (max-width: 520px) {
    .container{
        width: 97%;
        padding:0 ;
        margin: 0;
        overflow: hidden;
        
        .atu-logo img {
            width: 8rem;
            margin-bottom: 3rem;
        }
        .main-content{
            width: 100%;
            margin: 0;
            
            .welcome-card{
                width: 100%;
                margin: 0;
                padding: 0;

                h2{
                    font-size: 1rem;
                    margin-bottom: 3rem;
                }
                .welcome-text{
                    font-size: small;
                    // margin-left: 0;
                    margin-left: 9px;
                
                }
            }
            .blob{
                position: absolute;
                left: -36%;
                top: -44%;
                
                :first-child, :last-child {
                    display: none;
                }
                .mobile-blob-object{
                    display: block;
                }
                
            }
        }
        .btn-survey{
            top: 2rem;
            left: 6rem;
        }
    }
}