@import 'global';
.content {
    width: 100%;
    height: 47rem;
    .container {
        margin: 10px;
        width: 100%;
        height: 100%;
        //Init Nav
        nav {
           
            .atu-logo img {
                border: none;
                height: 4rem;
                width: 10rem;
                margin: 10px;
            }
            .nav-links {
                a {
                    margin-right: 24px;
                }
                a:hover {
                    color: $dark-blue1;
                    cursor: pointer;
                }
                position: relative;
                left: 68rem;
                top: 0.3rem;
            }
            .mobile-nav-links{
                // visibility: hidden;
                display: none;
            }
            .mobile-menu, .mobile-menu-close {
                font-size: 0rem;
            }
        }
        .main-card {
            background-color: #E4E4E3;
            position: relative;
            top: -2rem;
            width: 85%;
            height: 40rem;
            margin: 2.5% 16%;
            border-radius: 15px;
            box-shadow: $box-shadow1;
            .signin-form {
                position: relative;
                top: 2rem;
                left: 2rem;
                // height: 36rem;
                padding: 1rem;
                border-radius: 15px;
                box-shadow: $box-shadow2;
                label {
                    color: $dark-blue1;
                }
                .form-group input {
                    border-radius: 12px;
                    background-color: #E4E4E3;
                     ::placeholder {
                        color: #1C4A7E;
                    }
                }
                .btn-tab {
                    position: relative;
                    top: 3.5rem;
                }
                .form-group button {
                    border-radius: 12px !important;
                    background-color: #1C4A7E;
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 0.5rem 1rem;
                    border: none;
                    cursor: pointer;
                    box-shadow: $box-shadow3;
                }
                .form-group button:hover {
                    background-color: #E9E00A;
                    transition: 0.5s;
                    color: #1C4A7E;
                }
            }
            .right-side {
                background-color: #1C4A7E;
                position: relative;
                width: 25rem;
                height: 39.9rem;
                left: 8.1rem;
                border-radius: 15px;
            }
            .blob-object-3 {
                position: absolute;
                width: 28rem;
                top: 3rem;
                left: 42rem;
            }
            .blob-img-3 {
                position: absolute;
                width: 24rem;
                top: 4rem;
                left: 44rem;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .content{
        height: auto;

        .container{
            width: 100%;
            margin: 0;
            height: auto;
        }

        nav{
            display: flex !important;
            align-items: center;
            justify-content: space-between;
            padding-right: 1rem;
            
            .nav-links{
                display: none;
            }

            .mobile-nav-links{
                width: 35%;
                height: 35%;
                position: absolute;
                background-color: $dark-blue1; 
                padding: 1rem .5rem;
                top: 11%;
                right: 3%;
                z-index: 2;

                div {
                    width: 50% !important;
                    height: auto; 
                    display: flex ;
                    flex-direction: column;
                    line-height: 2rem;
                }


                

                    a{
                        color: #E4E4E3;          
                    }
            }

            .mobile-menu, .mobile-menu-close{
                font-size: 2rem !important;
                cursor: pointer; 
            }
        }
        .right-side, .blob-object-3, .blob-img-3{
            display: none !important;
        }

        .main-card{
            width: 100% !important;
            height: auto !important;
            padding: 0.4rem .7rem;
            margin: 0 !important;
            margin-top: 3rem !important;
            box-shadow: none !important;

                #main {
                    padding: 0 !important;
                }
                .d_block {
                    display: block !important;
                }


            .signin-form{
                padding: .5rem !important;
                top: 0 !important;
                left: 0 !important;
                font-size: .8rem;
                border-width: thick;

                    ::placeholder{
                       font-size: .8rem; 
                    }
                    .signin-form-title{
                        margin: 0 !important;
                        padding: .5rem 0 !important;
                    }

                    form {
                        padding: 0rem;

                        div {
                            padding-top: .5rem;
                            margin-top: 0rem !important;
                        }
                        
                    }
            }

            button {
                font-size: .8rem !important;
            }
           
        }
        
    }
}
