@import 'global';
.content {
    width: 100%;
    height: 47rem;
    .container {
        margin: 10px;
        width: 100%;
        height: 100%;
        //Init Nav
        nav {
            .atu-logo img {
                border: none;
                height: 4rem;
                width: 10rem;
                margin: 10px;
            }
            .nav-links {
                a {
                    margin-right: 24px;
                }
                a:hover {
                    color: $dark-blue1;
                    cursor: pointer;
                }
                position: relative;
                left: 68rem;
                top: 0.3rem;
            }
        }
        .main-card {
            background-color: #E4E4E3;
            position: relative;
            top: -2rem;
            width: 85%;
            height: 40rem;
            margin: 2.5% 16%;
            border-radius: 15px;
            box-shadow: $box-shadow1;
            .signin-form {
                position: relative;
                top: 2rem;
                left: 2rem;
                height: 36rem;
                padding: 1rem;
                border-radius: 15px;
                box-shadow: $box-shadow2;
                label {
                    color: $dark-blue1;
                }
                .form-group input {
                    border-radius: 12px;
                    background-color: #E4E4E3;
                     ::placeholder {
                        color: #1C4A7E;
                    }
                }
                .btn-tab {
                    position: relative;
                    top: 3.5rem;
                }
                .form-group button {
                    border-radius: 12px !important;
                    background-color: #1C4A7E;
                    color: #fff;
                    font-size: 1.5rem;
                    padding: 0.5rem 1rem;
                    border: none;
                    cursor: pointer;
                    box-shadow: $box-shadow3;
                }
                .form-group button:hover {
                    background-color: #E9E00A;
                    transition: 0.5s;
                    color: #1C4A7E;
                }
            }
            .right-side {
                background-color: #1C4A7E;
                position: relative;
                width: 25rem;
                height: 39.9rem;
                left: 8.1rem;
                border-radius: 15px;
            }
            .blob-object-3 {
                position: absolute;
                width: 28rem;
                top: 3rem;
                left: 42rem;
            }
            .blob-img-3 {
                position: absolute;
                width: 24rem;
                top: 4rem;
                left: 44rem;
            }
        }
    }
}