@font-face {
  font-family: "capriola";
  src: url("../fonts/Capriola-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "capriola";
  font-size: 16px;
  line-height: 1.5;
  color: white;
}

p,
i,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1C4A7E;
}

a {
  color: #A51111;
  text-decoration: none;
}

a:hover {
  color: #1C4A7E !important;
}

li {
  list-style: none;
}

.content {
  width: 100%;
  height: auto;
}
.content .container {
  margin: 0;
  width: 100%;
  height: 100%;
}
.content .container nav {
  border: 1px solid black;
}
.content .container nav .atu-logo img {
  border: none;
  height: 4rem;
  width: 10rem;
  margin: 10px;
}
.content .container nav .nav-links {
  position: relative;
  left: 68rem;
  top: 0.3rem;
}
.content .container nav .nav-links a {
  margin-right: 24px;
}
.content .container nav .nav-links a:hover {
  color: #1C4A7E;
  cursor: pointer;
}
.content .container nav .mobile-nav-links {
  display: none;
}
.content .container nav .mobile-menu, .content .container nav .mobile-menu-close {
  font-size: 0rem;
}
.content .container .main-card {
  background-color: #E4E4E3;
  border-radius: 15px;
  overflow: hidden;
}
.content .container .main-card .signin-form {
  height: auto;
  padding: 3rem;
  border-radius: 15px;
}
.content .container .main-card .signin-form .form-group input {
  border-radius: 12px;
  background-color: #E4E4E3;
}
.content .container .main-card .signin-form .form-group input::placeholder {
  color: #1C4A7E;
}
.content .container .main-card .signin-form .form-group button {
  border-radius: 12px !important;
  background-color: #1C4A7E;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.content .container .main-card .signin-form .form-group button:hover {
  background-color: #E9E00A;
  transition: 0.5s;
  color: #1C4A7E;
}
.content .container .main-card .right-side {
  background-color: #1C4A7E;
  position: relative;
  width: 25rem;
  height: 34rem;
  left: 12.7rem;
  border-radius: 15px;
}
.content .container .main-card .blob-object-2 {
  position: absolute;
  width: 32rem;
  left: 38rem;
}
.content .container .main-card .blob-img-2 {
  position: absolute;
  width: 25rem;
  top: -6rem;
  left: 44rem;
}

@media screen and (max-width: 520px) {
  .content {
    height: auto;
  }
  .content .container {
    width: 100%;
    margin: 0;
    height: auto;
  }
  .content nav {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
  }
  .content nav .nav-links {
    display: none;
  }
  .content nav .mobile-nav-links {
    width: 35%;
    height: 35%;
    position: absolute;
    background-color: #1C4A7E;
    padding: 1rem 0.5rem;
    top: 11%;
    right: 3%;
    z-index: 2;
  }
  .content nav .mobile-nav-links div {
    width: 50% !important;
    height: auto;
    display: flex;
    flex-direction: column;
    line-height: 2rem;
  }
  .content nav .mobile-nav-links a {
    color: #E4E4E3;
  }
  .content nav .mobile-menu, .content nav .mobile-menu-close {
    font-size: 2rem !important;
    cursor: pointer;
  }
  .content .main-card {
    width: 100% !important;
    height: 75vh !important;
    padding: 0.4rem 0.7rem;
    margin: 0 !important;
    margin-top: 2rem !important;
  }
  .content .main-card #sign-in-form {
    display: block !important;
  }
  .content .main-card .signin-form {
    height: 73vh !important;
    width: auto;
    padding: 1rem !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 0.8rem;
  }
  .content .main-card .signin-form ::placeholder {
    font-size: 0.8rem;
  }
  .content .main-card .signin-form p {
    margin-top: 2rem !important;
  }
  .content .main-card .signin-form form {
    padding-top: 1rem;
  }
  .content .main-card .signin-form form :first-child {
    margin-bottom: 0.5rem !important;
  }
  .content .main-card .signin-form form :nth-child(4) {
    margin-top: 3rem !important;
    justify-content: space-between;
  }
  .content .main-card button {
    font-size: 0.8rem !important;
  }
  .content .right-side, .content .blob-object-4, .content .blob-img-4 {
    display: none !important;
  }
}