@font-face {
  font-family: "capriola";
  src: url("../fonts/Capriola-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "capriola";
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.container {
  margin: 10px;
  width: 1440px;
  height: 900px;
}
.container .atu-logo {
  border: none;
  height: 10rem;
  width: 10rem;
  margin: 10px;
}
.container .main-content {
  background: none;
  border: none;
  width: fit-content;
  margin-top: -211px;
}
.container .main-content .welcome-card {
  background-color: #1C4A7E;
  color: white;
  padding: 1rem;
  border-radius: 15px;
  width: 1011px;
  height: 510px;
  margin-left: 298px;
  margin-top: -438px;
  z-index: -1;
}
.container .main-content .welcome-text {
  background: none;
  border: none;
  margin-left: 154px;
}
.container .main-content .blob {
  background: none;
  border: none;
  position: relative;
  left: -185px;
  top: 345px;
}
.container .main-content .blob .blob-object {
  width: 600px;
  height: 581px;
}
.container .main-content .blob .mobile-blob-object {
  display: none;
}
.container .main-content .blob .blob-person {
  position: absolute;
  top: -190px;
  left: 47px;
}
.container .btn-survey {
  background-color: #E9E00A;
  position: relative;
  top: 90px;
  left: 760px;
  border: none;
  color: #1C4A7E;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 1rem;
}
.container .btn-survey:hover {
  background-color: #1C4A7E;
  transition: 0.2s;
  border-radius: 8px;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

@media all and (max-width: 520px) {
  .container {
    width: 420px;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .container .atu-logo img {
    width: 8rem;
    margin-bottom: 3rem;
  }
  .container .main-content {
    width: 100%;
    margin: 0;
  }
  .container .main-content .welcome-card {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .container .main-content .welcome-card h2 {
    font-size: 1rem;
    margin-bottom: 3rem;
  }
  .container .main-content .welcome-card .welcome-text {
    font-size: small;
    margin-left: 9px;
  }
  .container .main-content .blob {
    position: absolute;
    left: -36%;
    top: -44%;
  }
  .container .main-content .blob :first-child, .container .main-content .blob :last-child {
    display: none;
  }
  .container .main-content .blob .mobile-blob-object {
    display: block;
  }
  .container .btn-survey {
    top: 2rem;
    left: 6rem;
  }
}