        // @import url('./global.scss');
        @font-face {
            font-family: 'capriola';
            src: url('../fonts/Capriola-Regular.ttf');
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            background-color: #f9fcff;
            font-family: 'capriola';
            font-size: 16px;
            line-height: 1.5;
            color: #1C4A7E;
            width: 100%;
            height: 100%;
        }
        
        p,
        i,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #1C4A7E;
        }
        
        a {
            color: #A51111;
            text-decoration: none;
        }
        
        //navigation bar
        .super-nav {
            background-color: white;
            box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
            .navbar-1 {
                display: flex;
                padding: 0;
                justify-content: space-between;
                .atu-logo {
                    width: 5rem;
                    margin: 1px 0px 0 17px
                }
                //notification bell hover dropdown
                @media all and (min-width: 992px) {
                    .notify .dropdown-menu {
                        display: none;
                    }
                    .notify:hover .dropdown-menu {
                        display: block;
                    }
                    .notify .dropdown-menu {
                        margin-top: 0;
                    }
                }
                .notify {
                    position: relative;
                    left: 32%;
                }
                .dropdown-right {
                    margin-right: 6.5%;
                }
                .dropdown .dropdown-toggle .profile-icon {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                }
                //profile-icon hover dropdown
                @media all and (min-width: 992px) {
                    .dropdown-right .dropdown-menu {
                        display: none;
                    }
                    .dropdown-right:hover .dropdown-menu {
                        display: block;
                    }
                    .dropdown-right .dropdown-menu {
                        margin-top: 0;
                    }
                }
            }
            .main-nav {
                margin-bottom: .8rem;
                .row {
                    text-align: center;
                    width: 50%;
                    margin: 0 auto;
                    justify-content: center;
                    .navbar-2 {
                        display: flex;
                        gap: 6%;
                        flex-wrap: nowrap;
                        padding: 0;
                        justify-content: center;
                        .nav-links {
                            width: 100%;
                            color: #A51111;
                            margin: 0;
                            padding: 0;
                        }
                        .nav-links:focus {
                            color: #1C4A7E;
                        }
                    }
                }
            }
        }
        /* ============ desktop view ============ */
        
        //navbar hover dropdown on nav-links
        @media all and (min-width: 992px) {
            .navbar .nav-item .dropdown-menu {
                display: none;
            }
            // .navbar .nav-item:hover .nav-link {}
            .navbar .nav-item:hover .dropdown-menu {
                display: block;
            }
            .navbar .nav-item .dropdown-menu {
                margin-top: 0;
            }
        }
        /* ============ desktop view .end// ============ */
        
        .sampleChart {
            margin: 0 auto;
            position: relative;
            top: 14rem;
        }